*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
 
}

.header-background {
  background: linear-gradient(
    90deg,
    rgba(247, 239, 239, 1) 0%,
    rgba(255, 138, 75, 1) 100%
  ) !important;
}

.no-scrollbar {
  overflow-x: scroll;
  scrollbar-width: none;
  /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-carousel .control-dots {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-carousel .control-dots .dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #545454;
}

.custom-carousel .control-dots .dot.selected {
  background-color: #0813d0;
}

.carousel.carousel-slider {
  padding-bottom: 46px !important;
}
