*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;

}

.header-background {
  background: linear-gradient(90deg,
      rgba(247, 239, 239, 1) 0%,
      rgba(255, 138, 75, 1) 100%) !important;
}

.no-scrollbar {
  overflow-x: scroll;
  scrollbar-width: none;
  /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-carousel .control-dots {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-carousel .control-dots .dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: #545454;
}

.custom-carousel .control-dots .dot.selected {
  background-color: #0813d0;
}

.carousel.carousel-slider {
  padding-bottom: 46px !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #be7b2e;

  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.text-gradient1 {
  background: linear-gradient(183.78deg, #000EFF 27.31%, #E700EF 77.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient2 {
 
  background: linear-gradient(183.78deg, #000670 27.31%, #3E1600 77.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}