/* Universal Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Ensures padding and borders don't affect element width/height */
    margin: 0;
    /* Removes default margins */
    padding: 0;
    /* Removes default padding */
    border: 0;
    /* Resets border styles */
    font-family: inherit;
    /* Inherit font-family from parent (so no unexpected fonts) */
}

.header-background {

    background: linear-gradient(90deg, rgba(247, 239, 239, 1) 0%, rgba(255, 138, 75, 1) 100%) !important;
    ;

}

.no-scrollbar {
    overflow-x: scroll;
    scrollbar-width: none;
    /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

/* Optional: Reset specific elements' styles */